.presentation{
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center; 
}

.gras{
    font-weight: bold;
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center; 
    width: 80px;
}

.gras2{
    font-weight: bold;
    border: 2px solid blue;
    border-collapse: collapse;
    text-align: center; 
    width: 150px;
}

.center{
    text-align: center; 
}

ul{
    font-weight: bold;
}

html{
    background:   #000000

;
}
    
h1{
    color:   #000000;
    text-align: center;
}