#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}
#more5 {display: none;}
#more6 {display: none;}
#more7 {display: none;}
#more8 {display: none;}
#more9 {display: none;}
#more10 {display: none;}
#more11 {display: none;}
#more12 {display: none;}
#more13 {display: none;}
#more14 {display: none;}
#more15 {display: none;}

#myBtn10 {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: #cccccc;
}


.logo{
    padding-right: 380px;
    text-align: center;
}


.rgs{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.rg{
    color: red;
    font-weight: bold;
}

.gi{
    font-weight: bold;
    font-style: italic;
}

.r{
    color: red;
}

.g{
    font-weight: bold;
}


.s{
    text-decoration: underline;
}

.i{
    font-style: italic;
}

.c{
    text-align: center;
}

.img{
    float: left;
    max-width: 25%;
    height: auto;
}

.img2{
    float: right;
    max-width: 25%;
    height: auto;
}

.img3{
    float: right;
    max-width: 20%;
    height: auto;
}

*{
    color: #cccccc;
}

.button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;  
  text-align: center;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
}

.button {
  background-color: #262626;
  border-color: #04AA6D;
  color: #04AA6D;
}

.button:hover {
  background-color: #04AA6D;
  color: white;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



body
{
    animation: fadeInAnimation ease 1s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1; 
    background: #262626;
    } 
    @keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    }

    color: #f2f2f2;
}

#bloc_page
{
    width: 1500px;
    margin: auto;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

.sous_menu{
    width: 1400px;
    margin: auto;
}

header h1
{
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-size: 1.1em;
    margin: 0 0 0 10px;
    font-weight: normal;
}

article p
{
    font-size: 1em;
}

iframe{
    border-radius: 16px;
}


.btn {
  background-color: #262626;
  color: #cccccc;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 16px;
  border: 2px solid black;
  border-color: #04AA6D
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #262626;
  min-width: 160px;
  z-index: 1;
  border-radius: 16px;
}

.dropdown-content a {
  color: #cccccc;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 16px;
}

.dropdown-content a:hover {background-color: #1a1a1a}

.dropdown:hover .dropdown-content {
  display: block; border: 2px solid black; border-color: #04AA6D
}

.btn:hover, .dropdown:hover .btn {
  background-color: #1a1a1a;
}