/* police */

@font-face{
    font-family: "police";
    src: url("../police/Next-Sunday.ttf") format("truetype");
}

/* modif général */

* {
    font-family: "police";
    scroll-behavior: smooth;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

small {
    font-size: 0.7em;
}

/* regroupement des balise commune */

body, h2, h4, ul, .interact a, .interact figure, .on-image span, .on-image small {
    margin: 0;
}

h1, .interact, .icon {
    margin: 1em;
    border-radius: 10px;
}

footer, nav a, .interact img {
    width: 100%;
}

.banniere, .little-nightmares, .minecraft, .plague-tale {
    position: relative;
}

.on-image, .banniere * {
    position: absolute;
}

li, footer, .icon {
    text-align: center;
}

h1, h2, h3, h4, small, .one-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1, figcaption * {
    pointer-events: none;
}

nav ul, .icon, .interact {
    display: grid;
}

.icon, .interact {
    grid-template-columns: 1fr 1fr 1fr;
}

.on-image *, article a {
    border-radius: 5px;
}

article a:hover, footer a:active{
    color: #262526;
}

body, a {
    color: #f3f3f3;
}

body article, body footer {
    background-color: #7f8084;
}

body, .banniere *, article a, .on-image span, .on-image small, nav li:hover {
    background-color: #262526;
}

body, .banniere h1 {
    box-shadow: inset #0f0f0f 3px 3px 3px, inset #0f0f0f -3px -3px 3px, inset #0f0f0f -3px 3px 3px, inset #0f0f0f 3px -3px 3px;
}

/* bannière */

.banniere {
    height: 18.75vw;
    background-image: url("../img/banniere.png");
    background-size: 100%;
    box-shadow: inset #0f0f0f 0 -5px 5px;
}

.banniere * {
    padding: 0.3em;
}

.banniere h1 {
    max-width: calc(100% - 2em);
}

.banniere small {
    right: 0;
    bottom: 0;
    border-radius: 0 10px;
    box-shadow: inset #0f0f0f 0 -3px 5px;
}

/* menu */

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 0.1s;
    background-color: #0f0f0f;
    box-shadow: #0f0f0f 0 5px 5px;
}

nav * {
    transition: 0.1s;
}

nav ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav li:hover {
    color: #d7d8da;
    text-shadow: #d7d8da 0 0 10px;
    box-shadow: inset #0f0f0f 10px 10px 10px, inset #0f0f0f -10px -10px 10px, inset #0f0f0f -10px 10px 10px, inset #0f0f0f 10px -10px 10px;
}

nav a {
    padding: 1.5em 0;
    display:inline-block;
}

/* intro */

article {
    margin: 2em auto;
    padding: 1rem;
    width: 85%;
    text-shadow: #0f0f0f 0 0 1px;
    box-shadow: inset #262526 3px 3px 3px, inset #262526 -3px -3px 3px, inset #262526 -3px 3px 3px, inset #262526 3px -3px 3px, #0f0f0f 3px 3px 3px, #0f0f0f -3px -3px 3px, #0f0f0f -3px 3px 3px, #0f0f0f 3px -3px 3px;
}

article a {
    transition: 0.1s;
    margin: 0.5em;
    margin-left: calc(85vw - 7.5em);
    padding: 0.5rem;
    float: inline-end;
    box-shadow: inset #7f8084 2px 2px 1px, inset #7f8084 -2px -2px 1px, inset #7f8084 -2px 2px 1px, inset #7f8084 2px -2px 1px;
}

article a:hover {
    background: #d7d8da;
    text-shadow: #f3f3f3 0 0 10px;
}

/* petit bandeau avec les icones */

.icon {
    margin: 1em auto;
    width: 60%;
    box-shadow: inset #262526 2px 2px 1px, inset #262526 -2px -2px 1px, inset #262526 -2px 2px 1px, inset #262526 2px -2px 1px, #262526 2px 2px 2px, #262526 -2px -2px 2px, #262526 -2px 2px 2px, #262526 2px -2px 2px;
}

.horreur {
    background-image: url("../img/horreur.svg");
}

.aventure {
    background-image: url("../img/aventure.svg");
}

.histoire {
    background-image: url("../img/histoire.svg");
}

.icon * {
    margin: 0 auto;
    padding: 1.5em;
    padding-left: 3.5em;
    max-width: calc(100% / 3 + 1.5em);
    background-size: 3em;
    background-position: 0 0.5em;
}

/* style pour les 3 images */

.interact {
    column-gap: 1em;
}

figure:hover {
    padding: calc(10% / 4) calc(10% / 2);
    width: 90%;
}

figure:active {
    padding: calc(15% / 4) calc(15% / 2);
    width: 85%;
}

.interact img {
    display: block;
    border-radius: 10px;
    box-shadow: #0f0f0f 5px 5px 5px, #0f0f0f -5px -5px 5px, #0f0f0f -5px 5px 5px, #0f0f0f 5px -5px 5px;
}

figure * {
    transition: 0.2s;
}

/* tout ce qui ce situe sur l'image */

.on-image {
    margin-left: 0.5rem;
    top: calc((100vw / 3) / (16/9) - 7rem);
}

.on-image small, .on-image span {
    padding: 0.1rem 0.5rem;
    max-width: calc(100vw / 3 - 3.5rem);
    display: inline-block;
    box-shadow: inset #0f0f0f 2px 2px 1px, inset #0f0f0f -2px -2px 1px, inset #0f0f0f -2px 2px 1px, inset #0f0f0f 2px -2px 1px;
}

figure:hover h3 {
    margin: calc(1em * 0.9) 0;
    font-size: calc(1.17em * 0.9);
}

figure:active h3 {
    margin: calc(1em * 0.85) 0;
    font-size: calc(1.17em * 0.85);
}

figure:hover span, figure:hover small {
    max-width: calc((100vw / 3 - 3.5rem) * 0.9);
}

figure:active span, figure:active small {
    max-width: calc((100vw / 3 - 3.5rem) * 0.85);
}

figure:hover small {
    font-size: calc(0.7em * 0.9);
}

figure:active small {
    font-size: calc(0.7em * 0.85);
}

figure:hover p {
    font-size: calc(1em * 0.9);
}

figure:active p {
    font-size: calc(1em * 0.85);
}

figure:hover figcaption {
    opacity: 100;
    transition-delay: 0.3s;
    transition-duration: 0.8s;
    pointer-events: stroke;
}

/* description des immages */

figcaption {
    opacity: 0;
}

figcaption p {
    margin: 0 auto;
    padding: 1em;
    width: 75%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #7f8084;
    box-shadow: #0f0f0f 5px 5px 5px, #0f0f0f -5px 5px 5px, inset #262526 0 5px 5px;
}

/* crédit */

footer {
    margin: auto;
    padding: 1rem 0;
    box-shadow: inset #0f0f0f 3px 0 3px, inset #0f0f0f -3px 0 3px, inset #262526 0 3px 3px;
}

footer a:hover {
    text-decoration:#262526 wavy underline;
}